---
name: "Update"

on:
  schedule:
    - cron: '8 3 * * 1,4'
  workflow_dispatch:

env:
  python_version: "3.11"

defaults:
  run:
    shell: 'bash --noprofile --norc -Eeuo pipefail {0}'

jobs:
  update:
    name: Update
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          persist-credentials: 'false'
      - name: Bootstrap repository
        uses: ./.github/actions/bootstrap
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          python-version: ${{ env.python_version }}
      - name: Update the repository
        run: task -v update
      - name: Create or update a pull request
        uses: peter-evans/create-pull-request@v8
        with:
          title: 'fix(updates): automated updates of primary components'
          commit-message: Automated update to primary components
          committer: "MrSecure Automation <automation@home.arpa>"
          delete-branch: true
          signoff: true
